body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.forpadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 1em;
}
.btn .img-fluid {
  max-width: 50%;
}
.btn-primary-1 {
  background-color: #0072bd;
  border-bottom: 5px solid #00538a;
}
.btn-primary-1:hover {
  color: #ffffff;
  background-color: #0091f0;
}
.btn-primary-2 {
  background-color: #009a78;
  border-bottom: 5px solid #006750;
}
.btn-primary-2:hover {
  color: #ffffff;
  background-color: #00cda0;
}
.btn-primary-3 {
  background-color: #ffb520;
  border-bottom: 5px solid #ec9e00;
}
.btn-primary-3:hover {
  color: #ffffff;
  background-color: #ffc653;
}
.btn-primary-4 {
  background-color: #ff5b3c;
  border-bottom: 5px solid #ff3009;
}
.btn-primary-4:hover {
  color: #ffffff;
  background-color: #ff866f;
}
.btn-primary-5 {
  background-color: #514841;
  border-bottom: 5px solid #352f2a;
}
.btn-primary-5:hover {
  color: #ffffff;
  background-color: #6d6158;
}
.btn-primary-6 {
  background-color: #5e9dca;
  border-bottom: 5px solid #3d85b8;
}
.btn-primary-6:hover {
  color: #ffffff;
  background-color: #84b4d7;
}
.btn-primary-7 {
  background-color: #8469a1;
  border-bottom: 5px solid #6b5384;
}
.btn-primary-7:hover {
  color: #ffffff;
  background-color: #9e88b5;
}
.btn-primary-8 {
  background-color: #773a56;
  border-bottom: 5px solid #55293d;
}
.btn-primary-8:hover {
  color: #ffffff;
  background-color: #994b6f;
}

.img-test {
  max-width: 33%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .btn {
    width: 225px;
  }
}
@media screen and (max-width: 1199px) {
  .btn {
    width: 225px;
    height: 100px;
  }
}
@media screen and (max-width: 992px) {
  .btn {
    width: 140px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    width: 120px;
    height: 85px;
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .btn {
    margin-bottom: 10px;
    margin-left: 28px;
    width: 120px;
    height: 85px;
  }
}
@media screen and (max-width: 413px) {
  .btn {
    margin-left: 0;
  }
}
